/*[id^=bx_incl_area] {
	display: initial;
}*/

.separator {
	font-size: 18px;
	text-align: left;
	padding: 10px 20px;
	text-transform: uppercase;
	background: cadetblue;
	color: #fff;
	border-radius: 5px 5px 0 0;
}